@charset "uft-8";

@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@900&display=swap');


@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

header {
    width: 100%;
    height: auto;
    /* background-color: antiquewhite; */
    
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

#nav_wrap {
   width: 100%;
   height: 100px; 
   /* background-color: aliceblue; */
   display: flex;
   justify-content: space-between;
}

.logo {
    width: 70px;
    height: 65px;
    /* background-color: #000;  */
    margin: 0.5%;
}

.logo img {
    width: 65px;
    height: auto;
    margin: 10px;
}

.right {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 25px 0;
    font-family: 'Lexend', sans-serif;
}

.right:hover {
    cursor: pointer;
}

.right li {
    padding: 0 30px;
    font-size: 15px;
}

#nav {
    width: 100%;
    height: 50px;
    background-color: #000; 
    padding: 10px;
}

#nav img {
    height: 15px;
    margin: 5px;
}

#ham {
    display: none;
}

.nav_bottom {
    width: auto;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
}

.nav_bottom a {
    color: #fff;
    font-family: 'Roboto Slab', serif;
}





footer {
    width: 100%;
    height: 230px;
    background-color: rgba(117, 122, 139, 0.5);
}

#notice {
    height: 100%;
    margin: 0 auto;
    /* background-color: pink; */
    display: flex;
}

#notice p {
    padding: 15px 0px;
}

#notice>.text_box {
    width: 70%;
    /* background-color: aliceblue; */
    font-size: 14px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

#notice>.text_box img {
    width: 120px;
    height: 20px;
}

#notice>.icon {
    width: 25%;
    /* background-color: paleturquoise; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#notice>.icon img {
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

#notice>.icon img:hover {
    border-radius: 100%;
    background-color: #ffffff;
    cursor: pointer;
}



@media screen and (max-width:767px) {
    
    header {
        width: 100%;
        height: auto;
        /* background-color: antiquewhite; */
        
    }
    
    img {
        max-width: 100%;
        height: auto;
        vertical-align: top;
    }
    
    #nav_wrap {
       width: 100%;
       height: 100px; 
       /* background-color: aliceblue; */
       display: flex;
       justify-content: space-between;
    }

    .logo {
        width: 70px;
        height: 65px;
        /* background-color: #000;  */
        margin: 0.5%;
    }
    
    .logo img {
        width: 70px;
        height: 75px;
    }

    #bar {
        width: 60%;
        display: flex;
        justify-content: flex-end;
    }

    .right {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding: 25px 0;
        font-family: 'Lexend', sans-serif;
        /* background-color: #7c7c7c; */
    }

    
    .right:hover {
        cursor: pointer;
    }
    
    .right li {
        padding: 0 30px;
        font-size: 12px;
    }
    
    #nav {
        width: 100%;
        height: auto;
        /* background-color: #000;  */
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
    }
    
    #nav img {
        height: 35px;
        margin: 5px;
        float: right;
    }

    #nav img:hover {
        cursor: pointer;
    }

    #ham {
        display: block;
        width: 100%;
        background-color: #000;
    }

    .nav_bottom {
        width: 100%;
        height: 300px;
        display: none;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
        margin: 0 auto;
        font-size: 20px;
    }
    .nav_bottom li {
        width: 100%;
        padding: 15px 0px;
    }
    .nav_bottom li a {
        display: block;
        color: #fff;
        font-family: 'Roboto Slab', serif;
    }    
    
    .nav_bottom li:hover {
        background-color: #7c7c7c;
    }


    footer {
        width: 100%;
        height: 340px;
        background-color: rgba(117, 122, 139, 0.5);
    }
    
    #notice {
        width: 100%;
        height: auto;
        margin: 0 auto;
        /* background-color: pink; */
        display: flex;
        flex-wrap: wrap;
    }
    
    #notice p {
        padding: 15px 0px;
    }
    
    #notice>.text_box {
        width: 90%;
        /* background-color: aliceblue; */
        font-size: 14px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        margin: 30px 20px;
    }
    
    #notice>.text_box img {
        width: 120px;
        height: 20px;
    }
    
    #notice>.icon {
        width: 100%;
        /* background-color: paleturquoise; */
        display: flex;
        align-items: center;
        justify-content: center
    }
    
    #notice>.icon img {
        width: 50px;
        height: 50px;
        margin: 0 10px;
    }
    
    #notice>.icon img:hover {
        border-radius: 100%;
        background-color: #ffffff;
        cursor: pointer;
    }
}


@media screen and (min-width:768px) and (max-width:1023px) {
    
    header {
        width: 100%;
        /* height: 580px; */
        /* background-color: antiquewhite; */
        
    }
    
    img {
        max-width: 100%;
        height: auto;
        vertical-align: top;
    }
    
    #nav_wrap {
       width: 100%;
       height: 100px; 
       /* background-color: aliceblue; */
       display: flex;
       justify-content: space-between;
    }
    
    .logo {
        width: 70px;
        height: 65px;
        /* background-color: #000;  */
        margin: 0.5%;
    }
    
    .logo img {
        width: 70px;
        height: 75px;
    }
    
    .right {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding: 25px 0;
        font-family: 'Lexend', sans-serif;
    }
    
    .right:hover {
        cursor: pointer;
    }
    
    .right li {
        padding: 0 30px;
        font-size: 15px;
    }
    
    #nav {
        width: 100%;
        height: 50px;
        background-color: #000; 
        padding: 10px;
    }
    
    #nav img {
        height: 15px;
        margin: 5px;
    }
    
    .nav_bottom {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        margin: 0 auto;
        font-size: 20px;
    }
    
    .nav_bottom a {
        color: #fff;
        font-family: 'Roboto Slab', serif;
    }


    footer {
        width: 100%;
        height: 230px;
        background-color: rgba(117, 122, 139, 0.5);
    }
    
    #notice {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        /* background-color: pink; */
        display: flex;
    }
    
    #notice p {
        padding: 15px 0px;
    }
    
    #notice>.text_box {
        width: 67%;
        /* background-color: aliceblue; */
        font-size: 14px;
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 20px;
    }
    
    #notice>.text_box img {
        width: 120px;
        height: 20px;
    }
    
    #notice>.icon {
        width: 30%;
        /* background-color: paleturquoise; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #notice>.icon img {
        width: 50px;
        height: 50px;
        margin: 0 10px;
    }
    
    #notice>.icon img:hover {
        border-radius: 100%;
        background-color: #ffffff;
        cursor: pointer;
    }
}


@media screen and (min-width:1024px) and (max-width:1575px) {
   
    header {
        width: 100%;
        /* height: 680px; */
        /* background-color: antiquewhite; */
        
    }
    
    img {
        max-width: 100%;
        height: auto;
        vertical-align: top;
    }
    
    #nav_wrap {
       width: 100%;
       height: 100px; 
       /* background-color: aliceblue; */
       display: flex;
       justify-content: space-between;
    }
    
    .logo {
        width: 70px;
        height: 65px;
        /* background-color: #000;  */
        margin: 0.5%;
    }
    
    .logo img {
        width: 70px;
        height: 75px;
    }
    
    .right {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding: 25px 0;
        font-family: 'Lexend', sans-serif;
    }
    
    .right:hover {
        cursor: pointer;
    }
    
    .right li {
        padding: 0 30px;
        font-size: 15px;
    }
    
    #nav {
        width: 100%;
        height: 50px;
        background-color: #000; 
        padding: 10px;
    }
    
    #nav img {
        height: 15px;
        margin: 5px;
    }

    #ham {
        display: none;
    }
    
    .nav_bottom {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        margin: 0 auto;
        font-size: 20px;
    }
    
    .nav_bottom a {
        color: #fff;
        font-family: 'Roboto Slab', serif;
    }


    footer {
        width: 100%;
        height: 230px;
        background-color: rgba(117, 122, 139, 0.5);
    }
    
    #notice {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        /* background-color: pink; */
        display: flex;
    }
    
    #notice p {
        padding: 15px 0px;
    }
    
    #notice>.text_box {
        width: 70%;
        /* background-color: aliceblue; */
        font-size: 14px;
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 60px;
    }
    
    #notice>.text_box img {
        width: 120px;
        height: 20px;
    }
    
    #notice>.icon {
        width: 30%;
        /* background-color: paleturquoise; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #notice>.icon img {
        width: 50px;
        height: 50px;
        margin: 0 10px;
    }
    
    #notice>.icon img:hover {
        border-radius: 100%;
        background-color: #ffffff;
        cursor: pointer;
    }
}


@media screen and (min-width:1576px) and (max-width:1575px) {
    
    header {
        width: 100%;
        height: 680px;
        /* background-color: antiquewhite; */
        
    }
    
    img {
        max-width: 100%;
        height: auto;
        vertical-align: top;
    }
    
    #nav_wrap {
       width: 100%;
       height: 100px; 
       /* background-color: aliceblue; */
       display: flex;
       justify-content: space-between;
    }
    
    .logo {
        width: 70px;
        height: 65px;
        /* background-color: #000;  */
        margin: 0.5%;
    }
    
    .logo img {
        width: 70px;
        height: 75px;
    }
    
    .right {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding: 25px 0;
        font-family: 'Lexend', sans-serif;
    }
    
    .right:hover {
        cursor: pointer;
    }
    
    .right li {
        padding: 0 30px;
        font-size: 15px;
    }
    
    #nav {
        width: 100%;
        height: 50px;
        background-color: #000; 
        padding: 10px;
    }
    
    #nav img {
        height: 15px;
        margin: 5px;
    }

    #ham {
        display: none;
    }
    
    .nav_bottom {
        width: 1550px;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        margin: 0 auto;
        font-size: 20px;
    }
    
    .nav_bottom a {
        color: #fff;
        font-family: 'Roboto Slab', serif;
    }


     
    footer {
        width: 100%;
        height: 230px;
        background-color: rgba(117, 122, 139, 0.5);
    }
    
    #notice {
        width: 1550px;
        height: 100%;
        margin: 0 auto;
        /* background-color: pink; */
        display: flex;
    }
    
    #notice p {
        padding: 15px 0px;
    }
    
    #notice>.text_box {
        width: 70%;
        /* background-color: aliceblue; */
        font-size: 14px;
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        flex-direction: column;
    }
    
    #notice>.text_box img {
        width: 120px;
        height: 20px;
    }
    
    #notice>.icon {
        width: 25%;
        /* background-color: paleturquoise; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #notice>.icon img {
        width: 50px;
        height: 50px;
        margin: 0 10px;
    }
    
    #notice>.icon img:hover {
        border-radius: 100%;
        background-color: #ffffff;
        cursor: pointer;
    }
}